.lasted-scripts {
    /* text-align: center; */
    /* width: 300px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title-scripts{
  text-align: center;
}